{% extends 'board/base.html' %}

{% block content %}

<div>
    <div class="list-group list-group-flush" style="width:80%;margin:10px 5px 0 0">
        <li class="list-group-item disabled flex-column align-items-start">
            <h3 class="mb-1">Posts</h3>
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">총 {{count}}개의 포스트가 있습니다.</h5>
                <a href="{% url 'post_create' %}" class="btn btn-outline-dark">Write</a>
            </div>
        </li>
        {% for post in posts %}
            <div>
                <a href="{% url 'post_detail' pk=post.pk %}" class="list-group-item list-group-item-action flex-column align-items-start">
                    <h3 class="mb-1">{{ post.title }}</h3>
                    <div class="d-flex w-100 justify-content-between">
                        <small>created by {{ post.author }} at {{ post.created_at }}</small>
                        <small>last modified at {{ post.modified_at }}</small>
                    </div>    
                </a>
            </div>
        {% endfor %}
    </div>
</div>
 
{% endblock %}
