{% extends 'board/base.html' %}

{% block content %}

<div>
    <div class="list-group list-group-flush" style="width:80%;margin:10px 5px 0 0">
        <li class="list-group-item disabled flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1">{{ post.title }}</h3>
                {% if author %}
                    <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-outline-dark">Edit</a>
                    <a href="{% url 'post_delete' pk=post.pk %}" class="btn btn-outline-dark">Delete</a>
                {% endif %}
            </div>
            <div class="d-flex w-100 justify-content-between">
                <small>created by {{ post.author }} at {{ post.created_at }}</small>
                <small>last modified at {{ post.modified_at }}</small>
            </div>    
            <p>{{ post.content }}</p>
        </li>
        <li class="list-group-item disabled flex-column align-items-start">
            {% if next %}
                <a href="{% url 'post_detail' pk=next %}" class="btn btn-outline-dark">다음글</a> 
            {% endif %}
            {% if prev %}
                <a href="{% url 'post_detail' pk=prev %}" class="btn btn-outline-dark">이전글</a>   
            {% endif %}     
        </li>
    </div>
</div>
 
{% endblock %}
